* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    text-align: justify;
    color: white;
    background-color: rgb(44, 44, 44);
    /*background-color: rgb(236, 236, 236);*/
}

div.content {
    width: 80%;
    margin: 20px auto;
}

h2 {
    padding-bottom: 2px;
    padding-top: 30px;
    margin: 5px 0;
}

p {
    padding: 6px 0;
}

nav {
    color: rgb(255, 255, 255);
}

h1 {
    background-color: rgb(50, 50, 129);
    padding: 30px 30px;
}

.flex {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    flex-wrap: wrap;
}

.flex .text {
    padding-right: 50px;
}

footer {
    padding-top: 20px;
} 

footer p {
    padding: 15px 0;
    font-weight: bold;
    font-size: 14px;
}

footer * {
    text-align: center;
    background-color: rgb(50, 50, 129);
    color: rgb(255, 255, 255);
}
